@using GasMatic.Core.Domain
@using Microsoft.AspNetCore.Components.QuickGrid

<div class="grid" tabindex="-1">
    <QuickGrid Items="@_calculations" Pagination="_pagination">
        <PropertyColumn Title="@($"{Localizer["NominalPipeSizeLabel"]} (mm)")"
                        Property="@(c => NominalPipeSizeExtensions.Label((NominalPipeSize)c.NominalPipeSize))"
                        Sortable="true"/>
        <PropertyColumn Title="@($"{Localizer["LengthLabel"]} (m)")"
                        Property="@(c => c.Length)"
                        Sortable="true"/>
        <PropertyColumn Title="@($"{Localizer["PressureLabel"]} (mbar)")"
                        Property="@(c => c.Pressure)"
                        Sortable="true"/>
        <PropertyColumn Title="@($"{Localizer["GasVolumeLabel"]} (m\u00B3)")"
                        Property="@(c => c.GasVolume)"
                        Sortable="true"/>
        <PropertyColumn Title="@($"{Localizer["CalculatedDateLabel"]}")"
                        Property="@(c => c.CalculatedDate)"
                        Format="MMM dd, yyyy"
                        Sortable="true"/>
        <TemplateColumn Align="Align.Center" Title="@($"{Localizer["Actions"]}")">
            <button class="btn btn-outline-danger my-1" @onclick="() => DeleteCalculationAsync(context.Id)">@Localizer["DeleteButton"]</button>
        </TemplateColumn>
    </QuickGrid>
</div>

<Paginator State="_pagination"/>